
<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="UTF-8">
    <title>Python Radionica</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Početna</a>
        <a href="/ispis">1. Ispis</a>
        <a href="/varijabla">1.2 Ispis</a>
        <a href="/unos">1.3 Ispis</a>
        <a href="/ako">2. Ako/Inače</a>
        <a href="/lista">3. Lista</a>
        <a href="/rjecnik">4. Rječnik</a>
        <a href="/petlja">5. Petlja</a>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        Python radionica - Tvoje ime
    </footer>
</body>
</html>
