{% extends "base.html" %}
{% block content %}
<h1>3. Lista</h1>

<form method="post">
    <input type="text" name="rijec" placeholder="Nova riječ">

    <button type="submit" name="akcija" value="dodaj">
        Dodaj
    </button>

    <button type="submit" name="akcija" value="izbrisi">
        Izbriši zadnju
    </button>
</form>

{% if poruka %}
    <div class="result-box">
        {{ poruka }}
    </div>
{% endif %}

<ul>
    {% for rijec in rijeci %}
        <li>{{ rijec }}</li>
    {% endfor %}
</ul>
{% endblock %}
